<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="bck">
		<h1>Hi there, let's chat !</h1>
		<input type="text" class="nickname" placeholder="Enter your name to begin">
		<button class="enter">Enter</button>



	<ul class="hidden" id="messages"></ul>

	<form >
		<input class="message" type="text" id="m" autocomplete="off">
		<button>Send</button>
	</form>

</div>




	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.min.js"></script>
	<script src="js/enter.js"></script>
</body>
</html>
